body{
    background: #01FDF6;
    font-family: "Time New Roman"
}
h1{
  text-align: center;
}

.main {
  display: flex; /* or inline-flex */
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
footer {
  position: absolute;
  bottom: 0; left: 0;
  text-align: left;
}
